{% extends 'front.html.twig' %}
{% block body %}
    <h1>Produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Owner</th>
                <th>Start_Price</th>
                <th>Buyout_Price</th>
                <th>Description</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.user.userName }}</td>
                <td>{{ produit.prixDebutEnchere }}</td>
                <td>{{ produit.prixBuyOut }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.etat }}</td>
                <td>
                    <a href="{{ path('app_prod_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_prod_edit', {'id': produit.id}) }}">edit</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}